
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  width: 150px;
  padding: 30px;
  margin-left: 550px;
  border: none;
  border-radius: 5px;
  background: -webkit-linear-gradient(#8f00b3, #f0b3ff);
  background: -o-linear-gradient(#8f00b3, #f0b3ff);
  background: linear-gradient(#8f00b3, #f0b3ff);
  box-shadow:10px 10px 10px #888888;
}

html{
  height: 100%;
  body{
  background-image: url('https://i.imgur.com/Bot3FKa.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: none;
}
}

h1{
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  color: #8f00b3;
}

div{
  display: inline-block;
  color: white;
  font-family: 'Bungee Inline', cursive;
}
